.desc {
	margin-top: 10px;
}

.textDes {
	text-decoration-line: underline;
	font-size: 16px;
	color: #d4d6d4;
}

.boxTop {
	z-index: 10;
	width: 70%;
	background: #fafafa;
	box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
	padding-left: 100px;
	position: relative;
	padding-top: 3%;
	padding-bottom: 3%;
	bottom: -100px;
}

.letGetStart {
	color: #d4d6d4;
}

.letGetStart:hover {
	color: #4f553d;
	cursor: pointer;
}

.boxBot {
	width: 100%;
	padding-top: 16%;
	background-color: #4f553d;
	padding-bottom: 30px;
	position: relative;
	overflow: hidden;
}

.boxBotContent {
	margin-left: 50px;
}

.boxBotTitleText {
	color: #b6c197;
}
