.register {
	width: 153px;
	height: 49;
	right:0;
	background-color: #E9BE31;
	color: #FFF;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 2px;
	padding-top: 5px;
	border-width: 0px;
}

.change-image {
	width: 153px;
	height: 49px;
	right:0;
	background-color: #FFFFFF;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	/* identical to box height, or 370% */
	padding: 0;

	color: #000000;
	text-align: center;
	padding-top: 5px;
	border-width: 0px;
	opacity: 0.6;
}

.register:hover {
	cursor: pointer;
}

.float{
	z-index: 1000;
	position:fixed;
	width: 280px;
	height: 43px;
	bottom: 80px;
	right:0;
	background-color: #E9BE31;
	color: #FFF;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 2px;
	padding-top: 5px;
	border-width: 0px;
}

.edit-image {
	z-index: 10000;
	position: absolute;
	width: 280px;
	height: 43px;
	right: 0px;
	top: -100px;
	right:0;
	background-color: #E9BE31;
	color: #FFF;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 2px;
	padding-top: 5px;
	border-width: 0px;
}